.color-options {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 20px;
}

.chrome-picker {
  box-shadow: none !important;
  width: 280px !important;
  margin: auto;
  padding: 6%;
  background-color: transparent !important;
}

.flexbox-fix {
  width: 264px;
}

.flexbox-fix:nth-child(2) {
  display: none !important;
}

.circle-picker {
  margin-left: 12%;
  padding: 4% 4% 8%;
}

.text-input input {
  width: 800px;
  position: absolute;
  margin-left: 40%;
  z-index: 2;
  font-size: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  margin-top: 5vh;
}

input::placeholder{
  background-color: rgba(255,255,255,.4);
  color: black
}

.fontoption-text {
  font-size: 34px;
  margin: 45px 0 0;
  text-align: center;
}
